{% macro emit_css(bundle) %}
  {% assets bundle %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endmacro %}

{% macro emit_js(bundle) %}
  {% assets bundle %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} - KOA Fitness</title>

    <!-- Load font-awesome for social icons from CDN -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{ emit_css("css_all") }}

    {% block styles %}
      {# template-specific styles which are not included in bundle go here #}
    {% endblock %}
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include "shared/_navbar.tmpl" %}
    {% block content %}
      {# page content goes here #}
    {% endblock %}

    {{ emit_js("js_all") }}

    {% block scripts %}
      {# template-specific scripts which are not included in bundle go here #}
    {% endblock %}
  </body>
</html>
