{% macro emit_css(bundle) %}
  {% assets bundle %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endmacro %}

{% macro emit_js(bundle) %}
  {% assets bundle %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} - KOA Fitness</title>

    <!-- Load font-awesome for social icons from CDN -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    {{ emit_css("css_all") }}

    {% block styles %}
      {# template-specific styles which are not included in bundle go here #}
    {% endblock %}
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include "shared/_navbar.tmpl" %}

    {% block content %}
      {# page content goes here #}
    {% endblock %}

    {{ emit_js("js_all") }}

    {% block scripts %}
      {# template-specific scripts which are not included in bundle go here #}
    {% endblock %}
  </body>
</html>
