{% extends "shared/layout.tmpl" %}

{% block content %}
    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h1 class="brand-heading">KOA Fitness</h1>
                      <p class="intro-text">Moop</p>
                      <a href="#programs" class="btn btn-circle page-scroll">
                          <i class="fa fa-angle-double-down animated"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </header>

  <!-- About Section -->

  <!-- Instructors Section -->

  <section id="programs">
    {% include 'public/_programs.tmpl' %}
  </section>

  <!-- Schedule Section -->

  <!-- Contact Section -->

  <footer>
    <div class="container" style="text-align:center">
      <div class="row">
        <p>&copy; Copyright 2014 KOA Fitness</p>
      </div>
    </div>
  </footer>

  <!-- Program Modals -->
  {% include 'public/_program_modals.tmpl' %}

{% endblock %}
