{% extends "shared/layout.tmpl" %}

{% block content %}
  <!-- Intro Header -->

  <!-- About Section -->

  <!-- Instructors Section -->

  <section id="programs">
    {% include 'public/_programs.tmpl' %}
  </section>

  <!-- Schedule Section -->

  <!-- Contact Section -->

  <!-- Footer -->
  <footer>
    <div class="container" style="text-align:center">
      <div class="row">
        <p>&copy; Copyright 2014 KOA Fitness</p>
      </div>
    </div>
  </footer>

  <!-- Program Modals -->
  {% include 'public/_program_modals.tmpl' %}

{% endblock %}
